@{
    ViewData["Title"] = "Home Page";
}
    <div class="row justify-content-start">
        
        <div class="row ">
            <div class="col" >
                 <div class="card">
                <div class="card-body list-partial">
                </div>
                </div>
                </div>
            </div>
            <div class="col" style="text-align:center;">
    <button id="createStudentModal" type="button" data-bs-toggle="modal" class="btn btn-primary mb-3" data-bs-target="#exampleModalLong">Öğrenci ekle</button>
                <div class="create-partial"></div>
                <div class="update-partial"></div> 



                <div class="remove-modal">
                    <div class="modal fade" id="removeModalLong" tabindex="-1" role="dialog" aria-labelledby="removeModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="max-width:450px;">
      <div class="modal-header" style="padding-block:7px;">
        <h5 class="modal-title" id="removeModalLongTitle">Öğrenci Sil</h5>
        <button type="button" id="removeStudentCloseButton" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="padding-block:5px;">
                                <input type="hidden" id='DeleteId' value="" />
                                <p><strong id="removeStudentName"></strong> adlı öğrenciyi neden siliyorsunuz?</p>
                                <div class="form-group">
                                <input id="removeStudentText" class="form-control text-center" type="text" />
                                </div>
                                <br>
                                <div class="form-group">
                                    <button id="modalDeleteBtn" class="btn btn-danger form-control btn-update">Sil</button>
                                </div>
                        </div>
      </div>
    </div>
  </div>
</div>
                </div>
            </div>

        </div>
    </section>

    @section Scripts{
        <script>
            IndexScript();
        </script>
    
    }
